{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<div class="col-md-12 search">
  <h2>Barbas disponibles</h2>
    <form method="get">
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="from-control" placeholder="Buscar.." name="buscar">
          <span class="input-group-list">
            <button type="submit" class="boton btn-success">Buscar</button>
          </span>
        </div>
      </div>
    </form>
    {% if barbas.count > 0 %}
    <table border="12" style="margin: 0 auto;">
        <tr>
            <td align="center"><strong>Nombre</td></strong>
            <td align="center"><strong>Hora</td></strong>
            <td align="center"><strong>Disponible</td></strong>
        </tr>
        {% for s in barbas %}
            <tr>
                <td><a href="{% url 'barbas' %}/{{s.id}}" style="color: blue;">{{s.nombre}}</a></td>
                <td>{{s.hora}}</td>
                {% if s.disponible == True %}
                <td>✅</td>
                {% else %}
                <td>❌</td>
                {% endif %}
            </tr>
         {% endfor %}
        </table>
      {% endif %}
</div>
<br>
<br>
{% endblock %}