{% extends 'base.html' %}
{% block content %}

<div  id="app-booth" class="container" align="left">
    <h1>Crear sercicio de barba</h1>
    {{error}}
       
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <br />
         <button class="btn btn-outline-dark" type="submit"
            onclick="return confirm('¿Quieres crear un nuevo servicio de barba?');">Crear</button>
    </form>
</div>
<br />
<button class="btn btn-secondary"><a href="{% url 'barbasAdmin' %}">Volver</a></button>

{% endblock %}