{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<br>
<div class="container-fluid">
  <form method="get">
    <div id="custom-search-input" align = "center">
      <div class="input-group col-md-12">
        <input type="text" class="from-control" placeholder="Buscar ID de la barba" name="buscar">
        <span class="input-group-list">
          <button type="submit" class="boton btn-success">Buscar</button>
        </span>
      </div>
    </div>
  </form>
  {% if seguimiento.count > 0 %}
  <table border="12" style="margin: 0 auto;"  id="table">
    <tr>
        <td align="center"><strong>Nombre</td></strong>
        <td align="center"><strong>Pago</td></strong>
        <td align="center"><strong>Estado</td></strong>
    </tr>
    {% for s in seguimiento %}
        <tr>
            <td>{{s.nombre}}</td>

            {% if s.pago == 0 %}
            <td>reservado</td>
            {% elif s.pago == 1 %}
            <td>pagado</td>
            {% elif s.pago == 2 %}
            <td>pendiente de pago</td>
            {% elif s.pago == 3 %}
            <td>disponible</td>
            {% endif %}

            {% if s.estado == 0 %}
            <td>servicio realizado</td>
            {% elif s.estado == 1 %}
            <td>servicio pendiente</td>
            {% endif %}
            
            {% if s.pago == 2 %}
            <td>
              <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <button id="boton" class="btn btn-secondary btn-sm" type="submit" onclick="cancelarCita('table');
                 return alert('su cita ha sido cancelada correctamente')">Cancelar cita</button>
              </form>
            </td>
            {% endif %}
        </tr>
     {% endfor %}
    </table>
  {% endif %}
</div>
<br>
<br>

<script>
  function cancelarCita(id) {
    var element = document.getElementById(id);
    element.parentNode.removeChild(element);
    window.location='http://localhost:8000/'; 
  }
</script>
{% endblock %}