{% extends 'base.html' %}
{% block content %}

<div id="app-booth">
    <h1>Crear sercicio de estética</h1>
    {{error}}
       
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <br />
         <button class="btn btn-secondary btn-lg" type="submit"
            onclick="return confirm('¿Quieres crear un nuevo servicio de estetica?');">Crear</button>
    </form>
</div>
<br />
<button class="btn btn-secondary btn-lg"><a href="{% url 'esteticasAdmin' %}">Volver</a></button>

{% endblock %}