{% extends 'base.html' %}
{% block content %}
<div class="col-md-12 search">
    <form method="get">
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="from-control" placeholder="Buscar.." name="buscar">
          <span class="input-group-list">
            <i class="icon icon-search"></i>
            <button type="submit" class="boton btn-success">Buscar</button>
          </span>
        </div>

      </div>
    </form>
</div>
<h4>Estética</h4>
<div>
    {% if esteticas.count > 0 %}
    <table border="5" style="margin: 0 auto;">
        <tr>
            <td>Nombre</td>
            <td>Hora</td>
            <td>Disponible</td>
        </tr>
        {% for s in esteticas %}
            <tr>
                <td><a href="{% url 'esteticas' %}/{{s.id}}">{{s.nombre}}</a></td>
                <td>{{s.hora}}</td>
                {% if s.disponible == True %}
                <td>✅</td>
                {% else %}
                <td>❌</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}