{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>

<div class="container">
    <h2>El servicio elegido ha sido el que tiene el nombre de {{servicio.nombre}}</h2>
    <br>
    <table border="12" style="margin: 0 auto;">
        <tr>
            <td><strong>Descripcion</td></strong>
        <td><strong>Precio</td></strong>
    </tr>
    <tr>
        <td>{{servicio.descripcion}}</td>
        <td>{{servicio.precio}}</td>
    </tr>
    </table>
    <button><a href="{% url 'cortes' %}" style="color: blue;"><h2>Volver al listado</a></button></h2>
</div>
<br/>
<br>
{% if servicio.disponible == True %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit"><h2 style="color: blue;">Agregar al carrito</button></h2>
        <img src="{% static 'media/carrito.png' %}" alt="#" width="60" >
    </form>
    {% endif %}
</div>
<br>
{% endblock %}