{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="content">
    {% if request.session.carrito.items %}
    <table border="12" style="margin: 0 auto;">
        <tr>
            <td><strong>Nombre</td></strong>
            <td><strong>Precio</td></strong>
            <td><strong>ID del servicio</td></strong>
        </tr>
        {% for key, value in request.session.carrito.items %}
        <tr>
            <td style="color: blueviolet">{{value.nombre}}</td>
            <td style="color: crimson;" align="center">{{value.precio}}</td>
            <td style="color: crimson;" align="center">{{value.producto_id}}</td>
        </tr>
        {% endfor %} 
    </table>
  
    <div class="container">
        <div class="col-md-12">
            <h3 style="color: red"><strong>Total compra: {{total_carrito}} €</strong></h3>
            <button class="btn btn-primary"><a href="{% url 'pago' %}"><p class="container" style="color: white">Pagar</p></a></button>
            <br>
            <br>
        </div>

        <div class="col-xs-6 col-sm-3">
            <button class="btn btn-lg btn-success"><a href="{% url 'home' %}"><p class="container" style="color: white">Volver</p></a></button>
        </div>
    </div>

    {% else %}
    <div class="alert alert-danger text-center"> Sin productos </div>
    {% endif %}
        
</div>
<br>
{% endblock %}