{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<br>

<div class="col-sm-6" align="center">
    <p>{{error}}</p>
    <form method="POST">
        {% csrf_token %}
        {{form.as_div}}
        <input type="checkbox" name="agree" onclick="" required />
        <a href='/terminos' for="agree">Acepto los términos y condiciones...</a><br><br>
            
        
        <button type="submit" name='next' class="btn btn-lg btn-success">Registro</button>
        </form>
    </form>
</div>
<br>
<br>
{% endblock %}