{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="contact">
    <div class="container">
        <h2><strong style="color: rgb(0, 0, 0)">FORMULARIO DE ATENCION AL CLIENTE</strong></h2>
        {{error}}
        <form id="request" class="main_form" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="checkbox" name="agree" onclick="" required />
            <a href='/terminos' for="agree">Acepto los términos y condiciones...</a><br><br>
            <button type="submit" class="btn btn-outline-dark">Enviar</button>
        </form>
    </div>
 </div>
 <br>
 <br>
 
{% endblock %}