{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>El servicio elegido ha sido el que tiene el nombre de: {{servicio.nombre}}</h2>
    <table border="5" style="margin: 0 auto;">
        <tr>
            <td>Descripcion</td>
            <td>Imagen</td>
        </tr>
        <tr>
            <td>{{servicio.descripcion}}</td>
            <td><img src="{% static 'media/hombre.png' %}" alt=""></td>
        </tr>
    </table>
<button class="btn btn-secondary btn-lg"><a href="{% url 'home' %}">Volver al listado</a></button>
</body>
</html>