{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="banner_main">
   <div id="myCarousel" class="carousel slide banner1" data-ride="carousel">
      <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
         <li data-target="#myCarousel" data-slide-to="3"></li>
         <li data-target="#myCarousel" data-slide-to="4"></li>
       </ol>

      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container-fluid">
               <div class="carousel-caption relative">
                  <div class="row d_flex">
                     <div class="col-md-6">
                        <img src ="/media/Ilustracion_sin_titulo.png" width="340"/>
                     </div>
                     <div class="col-md-6">
                        <span>EJEMPLOS DE SERVICIOS</span>
                        <h1>Cortes</h1>
                        <img src ="/media/hombre.png" width="340"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      
      <div class="carousel-item">
         <div class="container-fluid">
            <div class="carousel-caption relative">
               <div class="row d_flex">
                  <div class="col-md-6">
                     <img src ="/media/Ilustracion_sin_titulo.png" width="340"/>
                  </div>
                  <div class="col-md-6">
                     <span>EJEMPLOS DE SERVICIOS</span>
                     <h1>Barbas</h1>
                     <img src ="/media/hipster-barba-mannueldesign-peluqueria-caballeros-mortalaz_96XzDiq.png" width="340"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <div class="carousel-item">
         <div class="container-fluid">
            <div class="carousel-caption relative">
               <div class="row d_flex">
                  <div class="col-md-6">
                     <img src ="/media/Ilustracion_sin_titulo.png" width="340"/>
                  </div>
                  <div class="col-md-6">
                     <span>EJEMPLOS DE SERVICIOS</span>
                     <h1>Tintes</h1>
                     <img src ="/media/mecha.jpg" width="340"/>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="carousel-item">
         <div class="container-fluid">
            <div class="carousel-caption relative">
               <div class="row d_flex">
                  <div class="col-md-6">
                     <img src ="/media/Ilustracion_sin_titulo.png" width="340"/>
                  </div>
                  <div class="col-md-6">
                     <span>EJEMPLOS DE SERVICIOS</span>
                     <h1>Peinados</h1>
                     <img src ="/media/pelo_largo.png" width="200"/>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="carousel-item">
         <div class="container-fluid">
            <div class="carousel-caption relative">
               <div class="row d_flex">
                  <div class="col-md-6">
                     <img src ="/media/Ilustracion_sin_titulo.png" width="340"/>
                  </div>
                  <div class="col-md-6">
                     <span>EJEMPLOS DE SERVICIOS</span>
                     <h1>Estéticas</h1>
                     <img src ="/media/Depilacion-de-Cejas.jpg" width="340"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
         <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
         <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
         <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
         <span class="sr-only">Next</span>
      </a>
   </div>
</section>
 
<div class="we_do slin">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Servicios que ofrecemos</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-10 offset-lg-1 col-md-12">
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="we_box">
                     <i><img src="/media/corte.png" width="120" alt="#"/></i>
                     <button><a href="{% url 'cortesAdmin' %}"><h3>Cortes</h3></a></button>
                     <p>Cortes tanto de hombre como para mujeres. Para mas info click en cortes:</p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="we_box">
                     <i><img src="/media/barba.png"  width="120" alt="#"/></i>
                     <button><a href="{% url 'barbasAdmin' %}"><h3>Barbas</h3></a></button>
                     <p>Diferentes estilos de barbas. Para mas info click en barbas:</p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                     <div class="we_box">
                        <i><img src="/media/barba.png"  width="120" alt="#"/></i>
                        <button><a href="{% url 'esteticasAdmin' %}"><h3>Estéticas</h3></a></button>
                        <p>Diferentes estilos de barbas. Para mas info click en barbas:</p>
                     </div>
               </div>
               <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           <i><img src="/media/peinado.png"  width="120" alt="#"/></i>
                           <button><a href="{% url 'peinadoAdmin' %}"><h3>Peinados</h3></a></button>
                           <p>Diferentes estilos de peinados. Para mas info click en peinados</p>
                        </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="we_box">
                     <i><img src="/media/tinte.png"  width="120" alt="#"/></i>
                     <button><a href="{% url 'tinteAdmin' %}"><h3>Tintes</h3></a></button>
                     <p>Diferentes estilos de tintes. Para mas info click en tintes</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
 
<div class="about slin2">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-6">
            <div class="titlepage">
               <h2>Sobre nosotros</h2>
               <p align="justify">BarberShop es una empresa que se dedica al cuidado personal y a la atención al cliente. Concretamente está especializada en estética, peinados, cortes de pelo y personalización de barbas. Actualmente estamos en Sevilla, ciudad de origen, pero con intención de expansión por toda la costa Mediterránea.</p>
               <p align="justify">BarberShop Web te permite tener una visión general de los servicios ofrecidos, así como guardarlos en el carrito de compra, pagarlos y obtener una cita. Los servicios se encuentran divididos por categorías: Cortes, Barbas, Tintes, Peinados, Estéticas.
                  Una vez dentro de cada categoría podrá seleccionar el servicio deseado y será incluido en la cesta de compra. Para proceder al pago se indicarán dos maneras diferentes: pago con tarjeta o en el local. Todo ello, junto con más funcionalidades, harán que cuidarse sea una tarea rápida.</p>
            </div>
         </div>
         <div class="col-md-6">
            <div class="about_img">
               <figure><img src="/media/Ilustracion_sin_titulo.png" alt="#"  height="32"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <div class="map_main">
            <div class="map-responsive">
               <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Escuela+Técnica+Superior+de+Ingeniería+Informática" width="600" height="386" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}