<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>
    <div>
        {% if servicios.count > 0 %}
        <table border="5" style="margin: 0 auto;">
            <tr>
                <td>Nombre</td>
                <td>Hora</td>
                <td>Disponible</td>
            </tr>
            {% for s in servicios %}
            <tr>
                <td><a href="{{s.id}}">{{s.nombre}}</a></td>
                <td>{{s.hora}}</td>
                {% if s.disponible == True %}
                <td>✅</td>
                {% else %}
                <td>❌</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</body>
</html>