{% extends 'base.html' %}
{% block content %}
{% load static %}

<br>

<div class="container">
    <h2>El servicio elegido ha sido el que tiene el nombre de {{servicio.nombre}}</h2>
    <br>
    <table border="12" style="margin: 0 auto;">
        <tr>
        <td align="center"><strong>Descripcion</td></strong>
        <td align="center"><strong>Precio</td></strong>
    </tr>
    <tr>
        <td align="center">{{servicio.descripcion}}</td>
        <td align="center">{{servicio.precio}}</td>
        <td><img src= "{{MEDIA_URL}}{{servicio.imagen}}"  width=100px height=50px></td>

    </tr>
    </table>
    <button><a href="{% url 'tintes' %}" style="color: blue;"><h2>Volver al listado</a></button></h2>
</div>
<br/>
<br>
{% if servicio.disponible == True %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit"><h2 style="color: blue;">Agregar al carrito</button></h2>
        <img src="/media/carrito.png" alt="#" width="60" >
    </form>
    {% endif %}
</div>
<br>
{% endblock %}